*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $color-white;

  overscroll-behavior-y: none;
}

.container {
  height: 100vh;
  padding: 2.5rem;
  overscroll-behavior-y: none;

  display: flex;
}
