*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(small-laptop) {
    font-size: 56.25%; //1rem = 9px...9px / 16px
  }

  @include respond(land-tab) {
    font-size: 50%; //1rem = 8px...8px / 16px
  }

  @include respond(normal-tab) {
    font-size: 43.75%; //1rem = 7px...7px / 16px
  }

  @include respond(port-tab-long) {
    font-size: 37.5%; // 1rem = 6px...6px / 16px
  }
}

body {
  box-sizing: border-box;
  background-color: $color-white;

  overscroll-behavior-y: none;
}

.container {
  height: 100vh;
  padding: 2.5rem;
  overscroll-behavior-y: none;

  display: flex;

  @include respond(small-laptop) {
    padding: 2.3rem;
  }

  @include respond(land-tab) {
    height: 98vh;
    padding: 2.1rem;
  }

  @include respond(normal-tab) {
    padding: 2rem;
  }
}
