$color-primary: #ffb545;
$color-secondary: #00c46a;

$color-dark-1: #2d3439;
$color-dark-2: #42484d;
$color-dark-3: #555a5f;
$color-light-1: #aaa;
$color-light-2: #ececec;
$color-light-3: rgb(214, 222, 224);

$color-white: #fff;
